<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suivre Votre Réparation</title>
    <link rel="stylesheet" href="../design/accueilClient.css">
    <script src="../JavaScript/accueilClient.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Suivre Votre Réparation</h2>
        <form>
            <input type="text" id="numeroSuivi" name="numeroSuivi" placeholder="Numero Suivi" required>
            <input type="text" id="nomIdentifiant" name="nomIdentifiant" placeholder="Nom ou Identifiant" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <button type="submit" class="button">Connection</button>
        </form>
    </div>
</body>
</html>
